<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>Edit</title>
	<script type="text/javascript" src="/jquery/jquery.js"></script>
    <link type="text/css" href="/css/bootrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
</head>

<body>
	<div align="center">
		<a th:href="@{/}">Trang chủ</a><br><br>
		<h1>Sửa thông tin sinh viên</h1>
		<br />
		<form th:action="@{/saveEditUser}" th:object="${user}" method="post" id = "form">

            <input hidden type="number" th:field = "*{id}">
			<table border="0" cellpadding="10">	
                <tr>
					<td>Mã sinh viên:</td>
					<td><input type="text" th:field="*{code}" readonly="readonly" /></td>
				</tr>		
				<tr>
					<td>Họ và tên:</td>
					<td><input type="text" th:field="*{fullName}" id = "fullName"/></td>
				</tr>
				<tr>
					<td>Ngày sinh:</td>
					<td><input type="date" th:field="*{dateOfBirth}"  id = "date" /></td>
				</tr>
				<tr>
					<td>Địa chỉ:</td>
					<td><input type="text" th:field="*{address}" id = "address" /></td>
				</tr>
				<tr>
					<td>Email:</td>
					<td><input type="email" th:field="*{email}" id = "email"/></td>
				</tr>
				<tr>
					<td>Khoá học:</td>
					<td>
						<select th:field="*{course.id}" value ="*{course.name}">
							<option th:each="i : ${listCourse}" th:value="${i.id}" th:text="${i.name}"></option>
						</select>
					</td>
				</tr>
				<tr>
					<td>Ngành học:</td>
					<td>
						<select th:field="*{major.id}" value = "*{major.nameMajor}">
							<option th:each="i : ${listMajor}" th:value="${i.id}" th:text="${i.nameMajor}"></option>
						</select>
					</td>
				</tr>
				<tr>
					<td colspan="2"><button class="btn btn-success"  id ="submitBtn">Lưu</button> </td>
				</tr>
			</table>
		</form>
	</div>
	<script>
		$(document).ready(function(){
			$("#submitBtn").click(function(){
				if($('#fullName').val() == '' || $('#date').val() == '' || $('#address').val() == '' || $('#email').val() == '' ){
					alert("Không được bỏ trống thông tin");
					return false;
				}

				if(!isEmail($('#email').val())){
					alert("Email không đúng định dạng");
					return false;
				}
				
				var t= new Date();
				var today = new Date(t.getFullYear())
				var inputDate = new Date($('#date').val()).getFullYear();
				if(inputDate >= today){
					alert("Năm sinh vô lý");
					return false;
				}
				else{
					if(confirm("Bạn có chắc muốn lưu"))
						$(("#form")).submit();
					else
						return false;
				}
			});

			function isEmail(email) {
				var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
				return regex.test(email);
			}
		});
	</script>
</body>

</html>