<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>Trang chủ</title>
    <script type="text/javascript" src="/jquery/jquery.js"></script>
    <link type="text/css" href="/css/bootrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
</head>

<body>
    <div align="center">
        <h1>Quản lý điểm PTIT</h1>
        <a th:href="@{/listUser}">Sinh Viên</a>&nbsp;&nbsp;&nbsp;
        <a th:href="@{/viewScore}">Theo dõi điểm</a>&nbsp;&nbsp;&nbsp;
        <a th:href="@{/report}">Báo cáo</a>&nbsp;&nbsp;&nbsp;
        <a th:href="@{/config}">Cấu hình</a>
    </div>
</body>