<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>Sinh viên</title>

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
    <script type="text/javascript" src="/jquery/jquery.js"></script>
    <link type="text/css" href="/css/bootrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
</head>

<body>
    <div class="container">
        <div align="center">
            <a th:href="@{/}">Trang chủ</a><br>
            <p>Tìm kiếm sinh viên theo mã</p>
            <form th:action="@{/findUserByCode}">
                <input type="text" name="code" />
                <input type="submit" value="Tìm kiếm" />
            </form>
        </div>
        <div class="container">
            <h1 style="text-align: center">Danh sách sinh viên</h1>
            <th:block th:if="${mess}">
                <p id = "mess" style="background-color:greenyellow; font-size: 25px;" th:text = "${mess}"></p>
            </th:block>
            <a class="btn btn-outline-primary" th:href="@{/newUser}">
                Thêm mới sinh viên</a> <br /> <br />
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Mã sinh viên</th>
                        <th>Tên</th>
                        <th>Ngày tháng năm sinh</th>
                        <th>Email</th>
                        <th>Khoá học </th>
                        <th>Chuyên ngành</th>
                        <th>Địa chỉ</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody th:if="${listUser}">
                    <tr th:each="user : ${listUser}">
                        <td th:text="${user.code}"></td>
                        <td th:text="${user.fullName}"></td>
                        <td th:text="${user.dateOfBirth}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.course.name}"></td>
                        <td th:text="${user.major.nameMajor}"></td>
                        <td th:text="${user.address}"></td>
                        <td width="20%"><a class="btn btn-outline-warning update"
                                th:href="@{/user/edit/{id}(id=${user.id})}">Sửa</a>&nbsp;&nbsp;&nbsp;
                            <a class="btn btn-outline-danger delete"
                                th:id="@{/user/delete/{id}(id=${user.id})}">Xoá</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $("#mess").fadeOut(3000);
            $(".delete").click(function(){
                if(confirm("Bạn có chắc muốn xoá!")){
                    window.location.href = $(this).attr('id');
                }
                else
					return false;
            });
        })
    </script>
</body>