<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title></title>
    <script type="text/javascript" src="/jquery/jquery.js"></script>
    <link type="text/css" href="/css/bootrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
</head>

<body>
    <div class="container">
        <div align="center">
            <a style="text-align: center;" th:href="@{/}">Trang chủ</a><br><br>
        </div>
        <div class="container">
            <h1 style="text-align: center">Điểm của lớp</h1>
            <table class="table table-striped table-bordered" th:if="${listTableHeader}">
                <thead>
                    <tr>
                        <th>Mã sinh viên</th>
                        <th>Tên</th>
                        <th>Ngày tháng năm sinh</th>
                        <th:block th:each="head : ${listTableHeader}">
                            <th th:text="${head}"></th>
                        </th:block>
                        <th>Tổng kết</th>
                        <th>Xếp loại</th>
                    </tr>
                </thead>
                <tbody th:if="${listUserInClass}">
                    <tr th:each="result : ${listUserInClass}">
                        <td th:text="${result.user.code}"></td>
                        <td th:text="${result.user.fullName}"></td>
                        <td th:text="${result.user.dateOfBirth}"></td>
                        <th:block th:if="${result.resultOfUser.attendance != null}">
                            <td th:text="${result.resultOfUser.attendance} "></td>
                        </th:block>
                        <th:block th:if="${result.resultOfUser.test != null}">
                            <td th:text="${result.resultOfUser.test} "></td>
                        </th:block>
                        <th:block th:if="${result.resultOfUser.practice != null}">
                            <td th:text="${result.resultOfUser.practice} "></td>
                        </th:block>
                        <th:block th:if="${result.resultOfUser.exercise != null}">
                            <td th:text="${result.resultOfUser.exercise} "></td>
                        </th:block>
                        <th:block th:if="${result.resultOfUser.examFinal != null}">
                            <td th:text="${result.resultOfUser.examFinal} "></td>
                        </th:block>
                        <td th:text="${result.resultOfUser.finalScore} "></td>
                        <td th:text="${result.resultOfUser.byWord}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>