<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>Theo dõi điểm</title>
    <script type="text/javascript" src="/jquery/jquery.js"></script>
    <link type="text/css" href="/css/bootrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
</head>

<body>
    <div class = "container">
        <div align="center">
            <a th:href="@{/}">Trang chủ</a><br>
            <h1>Theo dõi điểm</h1><br><br>
            <form th:action = "@{/ViewBySemester}" th:if = "${listSemester != null}">
                <select  name="semester" >
                    <option th:each="i : ${listSemester}" th:value="${i.id}" th:text="${i.name}">
                    </option>
                </select>
                <input type="submit" value="Chọn">
            </form>
            
        </div>
    </div>
</body>